#products{
    width: 100%;
    padding: 40px 60px;
    background-attachment: fixed;
    background-size: cover;
}

#products h1{
    font-size: 50px;
    color: pink;
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
    font-weight: bold;
}
