.carousel-width{
    width: 25vw;
}

.reviews h2{
    font-size: 50px;
    color: rgba(118, 189, 11);
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
    font-weight: bold;
}

.reviews h5{
    text-align: justify;
}

.review-bg{
    background-color: rgba(118, 189, 11, 0.856);
}

@media only screen and (max-width:1024px){
    .carousel-width{
        width: 75vw;
    }
}